# This program deals with 3 csv files

1) Cleaning 2021 data

2) Creating nuclear.csv file manually from data collected from wikipedia

3) Cleaning 1990 to 2016 data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#setting path
os.chdir('D://DKIT//sem2//data_visualisation//dash//assignment2//MultipageApp//datasets//')

# Cleaning 2021 data

In [3]:
#reading csv
df = pd.read_excel('World_military_power.xlsx',header=1)

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 60 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Military Strength                        138 non-null    object
 1   Military Strength Power Index            138 non-null    float64
 2   Aircraft Strength                        138 non-null    object
 3   Aircraft Strength value                  138 non-null    float64
 4   Fighter/Interceptor Strength             138 non-null    object
 5   Fighter/Interceptor Strength value       138 non-null    float64
 6   Attack Aircraft Strength                 138 non-null    object
 7   Attack Aircraft Strength value           138 non-null    float64
 8   Transport Aircraft Fleet Strength        138 non-null    object
 9   Transport Aircraft Fleet Strength value  138 non-null    float64
 10  Trainer Aircraft Fleet                   138 non-null    object
 11  Trainer Aircraft Fleet value             138 non-null    float64
 12  Helicopter Fleet Strength                138 non-null    object
 13  Helicopter Fleet Strength value          138 non-null    float64
 14  Attack Helicopter Fleet Strength         138 non-null    object
 15  Attack Helicopter Fleet Strength value   138 non-null    float64
 16  Tank Strength                            138 non-null    object
 17  Tank Strength value                      138 non-null    float64
 18  AFV/APC Strength                         138 non-null    object
 19  AFV/APC Strength value                   138 non-null    float64
 20  Self-Propelled Artillery Strength        138 non-null    object
 21  Self-Propelled Artillery Strength value  138 non-null    float64
 22  Towed Artillery Strength                 138 non-null    object
 23  Towed Artillery Strength value           138 non-null    float64
 24  Rocket Projector Strength                138 non-null    object
 25  Rocket Projector Strength value          138 non-null    float64
 26  Navy Fleet Strengths                     124 non-null    object
 27  Navy Fleet Strengths value               124 non-null    float64
 28  Aircraft Carrier Fleet Strength          115 non-null    object
 29  Aircraft Carrier Fleet Strength value    115 non-null    float64
 30  Submarine Fleet Strength                 115 non-null    object
 31  Submarine Fleet Strength value           115 non-null    float64
 32  Destroyer Fleet Strength                 115 non-null    object
 33  Destroyer Fleet Strength value           115 non-null    float64
 34  Frigate Fleet Strength                   115 non-null    object
 35  Frigate Fleet Strength value             115 non-null    float64
 36  defense spending budget                  138 non-null    object
 37  defense spending budget value            138 non-null    object
 38  External Debt                            138 non-null    object
 39  External Debt value                      138 non-null    object
 40  Airport Totals                           138 non-null    object
 41  Airport Totals value                     138 non-null    float64
 42  Oil Production                           138 non-null    object
 43  Oil Production value                     138 non-null    object
 44  Oil Consumption                          138 non-null    object
 45  Oil Consumption value                    138 non-null    object
 46  Proven Oil Reserves                      138 non-null    object
 47  Proven Oil Reserves value                138 non-null    object
 48  Available Manpower                       138 non-null    object
 49  Available Manpower value                 138 non-null    object
 50  Total Population                         138 non-null    object
 51  Total Population value                   138 non-null    object
 52  Total Square Land Area                   138 non-null    object
 53  Total Square Land Area value             138 non-null    object
 54  Total Coastline Coverage                 109 non-null    object
 55  Total Coastline Coverage value           109 non-null    object
 56  Total Waterway Coverage                  138 non-null    object
 57  Total Waterway Coverage value            138 non-null    object
 58  Total Border Coverage                    129 non-null    object
 59  Total Border Coverage value              129 non-null    float64
dtypes: float64(20), object(40)
memory usage: 64.8+ KB
None

In [5]:
print(df.columns)

Index(['Military Strength', 'Military Strength Power Index',
       'Aircraft Strength', 'Aircraft Strength value',
       'Fighter/Interceptor Strength', 'Fighter/Interceptor Strength value',
       'Attack Aircraft Strength', 'Attack Aircraft Strength value',
       'Transport Aircraft Fleet Strength',
       'Transport Aircraft Fleet Strength value', 'Trainer Aircraft Fleet',
       'Trainer Aircraft Fleet value', 'Helicopter Fleet Strength',
       'Helicopter Fleet Strength value', 'Attack Helicopter Fleet Strength',
       'Attack Helicopter Fleet Strength value', 'Tank Strength',
       'Tank Strength value', 'AFV/APC Strength', 'AFV/APC Strength value',
       'Self-Propelled Artillery Strength',
       'Self-Propelled Artillery Strength value', 'Towed Artillery Strength',
       'Towed Artillery Strength value', 'Rocket Projector Strength',
       'Rocket Projector Strength value', 'Navy Fleet Strengths',
       'Navy Fleet Strengths value', 'Aircraft Carrier Fleet Strength',
       'Aircraft Carrier Fleet Strength value', 'Submarine Fleet Strength',
       'Submarine Fleet Strength value', 'Destroyer Fleet Strength',
       'Destroyer Fleet Strength value', 'Frigate Fleet Strength',
       'Frigate Fleet Strength value', 'defense spending budget',
       'defense spending budget value', 'External Debt', 'External Debt value',
       'Airport Totals', 'Airport Totals value', 'Oil Production',
       'Oil Production value', 'Oil Consumption', 'Oil Consumption value',
       'Proven Oil Reserves', 'Proven Oil Reserves value',
       'Available Manpower', 'Available Manpower value', 'Total Population',
       'Total Population value', 'Total Square Land Area',
       'Total Square Land Area value', 'Total Coastline Coverage',
       'Total Coastline Coverage value', 'Total Waterway Coverage',
       'Total Waterway Coverage value', 'Total Border Coverage',
       'Total Border Coverage value'],
      dtype='object')

In [6]:
#renaming the columns
df.rename(columns={'Military Strength':'country'},inplace=True)

In [7]:
print(df)

         country  Military Strength Power Index Aircraft Strength  \
0    Afghanistan                         1.3444       Afghanistan
1        Albania                         2.3137           Albania
2        Algeria                         0.4659           Algeria
3         Angola                         0.8379            Angola
4      Argentina                         0.6521         Argentina
..           ...                            ...               ...
133    Venezuela                         0.6449         Venezuela
134      Vietnam                         0.3559           Vietnam
135        Yemen                         1.2412             Yemen
136       Zambia                         1.6464            Zambia
137     Zimbabwe                         1.7577          Zimbabwe

     Aircraft Strength value Fighter/Interceptor Strength  \
0                      260.0                  Afghanistan
1                       19.0                      Albania
2                      551.0                      Algeria
3                      295.0                       Angola
4                      227.0                    Argentina
..                       ...                          ...
133                    260.0                    Venezuela
134                    293.0                      Vietnam
135                    169.0                        Yemen
136                    108.0                       Zambia
137                     90.0                     Zimbabwe

     Fighter/Interceptor Strength value Attack Aircraft Strength  \
0                                   0.0              Afghanistan
1                                   0.0                  Albania
2                                 103.0                  Algeria
3                                  72.0                   Angola
4                                  24.0                Argentina
..                                  ...                      ...
133                                38.0                Venezuela
134                                77.0                  Vietnam
135                                77.0                    Yemen
136                                18.0                   Zambia
137                                10.0                 Zimbabwe

     Attack Aircraft Strength value Transport Aircraft Fleet Strength  \
0                              25.0                       Afghanistan
1                               0.0                           Albania
2                              22.0                           Algeria
3                              18.0                            Angola
4                               7.0                         Argentina
..                              ...                               ...
133                             0.0                         Venezuela
134                             0.0                           Vietnam
135                             0.0                             Yemen
136                             0.0                            Zambia
137                             0.0                          Zimbabwe

     Transport Aircraft Fleet Strength value  ... Total Population  \
0                                       30.0  ...      Afghanistan
1                                        0.0  ...          Albania
2                                       59.0  ...          Algeria
3                                       30.0  ...           Angola
4                                        9.0  ...        Argentina
..                                       ...  ...              ...
133                                     52.0  ...        Venezuela
134                                     38.0  ...          Vietnam
135                                      8.0  ...            Yemen
136                                     11.0  ...           Zambia
137                                     14.0  ...         Zimbabwe

     Total Population value Total Square Land Area  \
0               3,49,40,837            Afghanistan
1                 30,57,220                Albania
2               4,16,57,488                Algeria
3               3,03,55,880                 Angola
4               4,46,94,198              Argentina
..                      ...                    ...
133             3,16,89,176              Venezuela
134             9,70,40,334                Vietnam
135             2,86,67,230                  Yemen
136             1,64,45,079                 Zambia
137             1,40,30,368               Zimbabwe

     Total Square Land Area value Total Coastline Coverage  \
0                        6,52,230              Afghanistan
1                         28748.0                  Albania
2                       23,81,741                  Algeria
3                       12,46,700                   Angola
4                       27,80,400                Argentina
..                            ...                      ...
133                      9,12,050                Venezuela
134                      3,31,210                  Vietnam
135                      5,27,968                    Yemen
136                      7,52,618                      NaN
137                      3,90,757                      NaN

     Total Coastline Coverage value Total Waterway Coverage  \
0                               0.0             Afghanistan
1                             362.0                 Albania
2                             998.0                 Algeria
3                            1600.0                  Angola
4                            4989.0               Argentina
..                              ...                     ...
133                          2800.0               Venezuela
134                          3444.0                 Vietnam
135                          1906.0                   Yemen
136                             NaN                  Zambia
137                             NaN                Zimbabwe

     Total Waterway Coverage value Total Border Coverage  \
0                           1200.0           Afghanistan
1                             41.0               Albania
2                              0.0               Algeria
3                           1300.0                Angola
4                          11000.0             Argentina
..                             ...                   ...
133                         7100.0             Venezuela
134                        17702.0               Vietnam
135                            0.0                 Yemen
136                         2250.0                Zambia
137                            0.0              Zimbabwe

     Total Border Coverage value
0                         5987.0
1                          691.0
2                         6734.0
3                         5369.0
4                        11968.0
..                           ...
133                       5267.0
134                       4616.0
135                       1601.0
136                       6043.0
137                       3229.0

[138 rows x 60 columns]

In [8]:
#adding column names to a list to delete the unwanted columns
cols = list(df.columns)

In [9]:
#searching column with value in each column name
values = [x for x in cols if 'value' in x]
values = ['country'] + values

In [10]:
#printing values
print(values)

['country', 'Aircraft Strength value', 'Fighter/Interceptor Strength value', 'Attack Aircraft Strength value', 'Transport Aircraft Fleet Strength value', 'Trainer Aircraft Fleet value', 'Helicopter Fleet Strength value', 'Attack Helicopter Fleet Strength value', 'Tank Strength value', 'AFV/APC Strength value', 'Self-Propelled Artillery Strength value', 'Towed Artillery Strength value', 'Rocket Projector Strength value', 'Navy Fleet Strengths value', 'Aircraft Carrier Fleet Strength value', 'Submarine Fleet Strength value', 'Destroyer Fleet Strength value', 'Frigate Fleet Strength value', 'defense spending budget value', 'External Debt value', 'Airport Totals value', 'Oil Production value', 'Oil Consumption value', 'Proven Oil Reserves value', 'Available Manpower value', 'Total Population value', 'Total Square Land Area value', 'Total Coastline Coverage value', 'Total Waterway Coverage value', 'Total Border Coverage value']

In [11]:
#taking columns need to delete in a list
rm_cols = list(set(cols)-set(values))

In [12]:
#drop the unwanted columns
df.drop(columns = rm_cols,inplace=True)

In [13]:

print(df)

         country  Aircraft Strength value  Fighter/Interceptor Strength value  \
0    Afghanistan                    260.0                                 0.0
1        Albania                     19.0                                 0.0
2        Algeria                    551.0                               103.0
3         Angola                    295.0                                72.0
4      Argentina                    227.0                                24.0
..           ...                      ...                                 ...
133    Venezuela                    260.0                                38.0
134      Vietnam                    293.0                                77.0
135        Yemen                    169.0                                77.0
136       Zambia                    108.0                                18.0
137     Zimbabwe                     90.0                                10.0

     Attack Aircraft Strength value  Transport Aircraft Fleet Strength value  \
0                              25.0                                     30.0
1                               0.0                                      0.0
2                              22.0                                     59.0
3                              18.0                                     30.0
4                               7.0                                      9.0
..                              ...                                      ...
133                             0.0                                     52.0
134                             0.0                                     38.0
135                             0.0                                      8.0
136                             0.0                                     11.0
137                             0.0                                     14.0

     Trainer Aircraft Fleet value  Helicopter Fleet Strength value  \
0                             0.0                            187.0
1                             0.0                             19.0
2                            87.0                            257.0
3                            47.0                            126.0
4                            64.0                            100.0
..                            ...                              ...
133                          82.0                             86.0
134                          36.0                            138.0
135                          21.0                             61.0
136                          52.0                             27.0
137                          38.0                             28.0

     Attack Helicopter Fleet Strength value  Tank Strength value  \
0                                       0.0                  0.0
1                                       0.0                  0.0
2                                      45.0                880.0
3                                      15.0                379.0
4                                       0.0                370.0
..                                      ...                  ...
133                                    10.0                390.0
134                                    25.0               2615.0
135                                    14.0                620.0
136                                     0.0                 75.0
137                                     6.0                 42.0

     AFV/APC Strength value  ...  Airport Totals value  Oil Production value  \
0                    1062.0  ...                  43.0                   0.0
1                     467.0  ...                   4.0               16000.0
2                    7361.0  ...                 157.0             13,06,000
3                     595.0  ...                 176.0             16,66,000
4                     739.0  ...                1138.0              4,79,400
..                      ...  ...                   ...                   ...
133                   600.0  ...                 444.0             20,07,000
134                  2530.0  ...                  45.0              2,71,400
135                   615.0  ...                  57.0               12260.0
136                   184.0  ...                  88.0                   0.0
137                   300.0  ...                 196.0                   0.0

     Oil Consumption value  Proven Oil Reserves value  \
0                   5500.0                        0.0
1                  42500.0               16,83,00,000
2                 3,25,000            12,20,00,00,000
3                  82300.0             8,27,30,00,000
4                 6,85,000             2,18,50,00,000
..                     ...                        ...
133               5,75,000          3,00,90,00,00,000
134               5,25,000             4,40,00,00,000
135               1,45,000             3,00,00,00,000
136                21000.0                        0.0
137                19500.0                        0.0

     Available Manpower value  Total Population value  \
0                 1,43,25,743             3,49,40,837
1                   15,19,438               30,57,220
2                 2,07,41,263             4,16,57,488
3                   62,44,205             3,03,55,880
4                 2,01,79,430             4,46,94,198
..                        ...                     ...
133               1,42,60,129             3,16,89,176
134               5,10,43,216             9,70,40,334
135               1,12,66,221             2,86,67,230
136                 61,66,905             1,64,45,079
137                 55,84,086             1,40,30,368

     Total Square Land Area value  Total Coastline Coverage value  \
0                        6,52,230                             0.0
1                         28748.0                           362.0
2                       23,81,741                           998.0
3                       12,46,700                          1600.0
4                       27,80,400                          4989.0
..                            ...                             ...
133                      9,12,050                          2800.0
134                      3,31,210                          3444.0
135                      5,27,968                          1906.0
136                      7,52,618                             NaN
137                      3,90,757                             NaN

    Total Waterway Coverage value Total Border Coverage value
0                          1200.0                      5987.0
1                            41.0                       691.0
2                             0.0                      6734.0
3                          1300.0                      5369.0
4                         11000.0                     11968.0
..                            ...                         ...
133                        7100.0                      5267.0
134                       17702.0                      4616.0
135                           0.0                      1601.0
136                        2250.0                      6043.0
137                           0.0                      3229.0

[138 rows x 30 columns]

In [14]:
#renaming the columns to lower case
df= df.rename(columns=str.lower)

In [15]:
#replace the column names values
df.columns = df.columns.str.replace(' value','')
df.columns = df.columns.str.replace(' ','_')

In [16]:
#drop the unwanted columns
df.drop(columns=['oil_production','oil_consumption','proven_oil_reserves','total_border_coverage','total_waterway_coverage','defense_spending_budget','external_debt','total_coastline_coverage','total_square_land_area'],inplace=True)

In [17]:
#printing updated column names
print(df.columns)

Index(['country', 'aircraft_strength', 'fighter/interceptor_strength',
       'attack_aircraft_strength', 'transport_aircraft_fleet_strength',
       'trainer_aircraft_fleet', 'helicopter_fleet_strength',
       'attack_helicopter_fleet_strength', 'tank_strength', 'afv/apc_strength',
       'self-propelled_artillery_strength', 'towed_artillery_strength',
       'rocket_projector_strength', 'navy_fleet_strengths',
       'aircraft_carrier_fleet_strength', 'submarine_fleet_strength',
       'destroyer_fleet_strength', 'frigate_fleet_strength', 'airport_totals',
       'available_manpower', 'total_population'],
      dtype='object')

In [18]:
#dropping rows with nan values
df = df.dropna()

In [19]:
df

,country,aircraft_strength,fighter/interceptor_strength,attack_aircraft_strength,transport_aircraft_fleet_strength,trainer_aircraft_fleet,helicopter_fleet_strength,attack_helicopter_fleet_strength,tank_strength,afv/apc_strength,...,towed_artillery_strength,rocket_projector_strength,navy_fleet_strengths,aircraft_carrier_fleet_strength,submarine_fleet_strength,destroyer_fleet_strength,frigate_fleet_strength,airport_totals,available_manpower,total_population
0,Afghanistan,260.0,0.0,25.0,30.0,0.0,187.0,0.0,0.0,1062.0,...,176.0,50.0,0.0,0.0,0.0,0.0,0.0,43.0,"1,43,25,743","3,49,40,837"
1,Albania,19.0,0.0,0.0,0.0,0.0,19.0,0.0,0.0,467.0,...,0.0,0.0,38.0,0.0,0.0,0.0,0.0,4.0,"15,19,438","30,57,220"
2,Algeria,551.0,103.0,22.0,59.0,87.0,257.0,45.0,880.0,7361.0,...,240.0,316.0,201.0,0.0,6.0,0.0,5.0,157.0,"2,07,41,263","4,16,57,488"
3,Angola,295.0,72.0,18.0,30.0,47.0,126.0,15.0,379.0,595.0,...,357.0,115.0,57.0,0.0,0.0,0.0,0.0,176.0,"62,44,205","3,03,55,880"
4,Argentina,227.0,24.0,7.0,9.0,64.0,100.0,0.0,370.0,739.0,...,172.0,26.0,49.0,0.0,2.0,4.0,0.0,1138.0,"2,01,79,430","4,46,94,198"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,Venezuela,260.0,38.0,0.0,52.0,82.0,86.0,10.0,390.0,600.0,...,104.0,36.0,49.0,0.0,2.0,0.0,4.0,444.0,"1,42,60,129","3,16,89,176"
134,Vietnam,293.0,77.0,0.0,38.0,36.0,138.0,25.0,2615.0,2530.0,...,1000.0,85.0,65.0,0.0,6.0,0.0,9.0,45.0,"5,10,43,216","9,70,40,334"
135,Yemen,169.0,77.0,0.0,8.0,21.0,61.0,14.0,620.0,615.0,...,85.0,150.0,30.0,0.0,0.0,0.0,0.0,57.0,"1,12,66,221","2,86,67,230"
136,Zambia,108.0,18.0,0.0,11.0,52.0,27.0,0.0,75.0,184.0,...,42.0,50.0,0.0,0.0,0.0,0.0,0.0,88.0,"61,66,905","1,64,45,079"
137,Zimbabwe,90.0,10.0,0.0,14.0,38.0,28.0,6.0,42.0,300.0,...,65.0,22.0,0.0,0.0,0.0,0.0,0.0,196.0,"55,84,086","1,40,30,368"

In [20]:
#taking columns with column values in a list
comma = ['available_manpower','total_population']

In [21]:
#replacing comma(,) with none and changing the datatype to int
for x in comma:
    df[x] = df[x].str.replace(',','')
    df[x] = df[x].astype(int)

In [22]:
print(df)

         country  aircraft_strength  fighter/interceptor_strength  \
0    Afghanistan              260.0                           0.0
1        Albania               19.0                           0.0
2        Algeria              551.0                         103.0
3         Angola              295.0                          72.0
4      Argentina              227.0                          24.0
..           ...                ...                           ...
133    Venezuela              260.0                          38.0
134      Vietnam              293.0                          77.0
135        Yemen              169.0                          77.0
136       Zambia              108.0                          18.0
137     Zimbabwe               90.0                          10.0

     attack_aircraft_strength  transport_aircraft_fleet_strength  \
0                        25.0                               30.0
1                         0.0                                0.0
2                        22.0                               59.0
3                        18.0                               30.0
4                         7.0                                9.0
..                        ...                                ...
133                       0.0                               52.0
134                       0.0                               38.0
135                       0.0                                8.0
136                       0.0                               11.0
137                       0.0                               14.0

     trainer_aircraft_fleet  helicopter_fleet_strength  \
0                       0.0                      187.0
1                       0.0                       19.0
2                      87.0                      257.0
3                      47.0                      126.0
4                      64.0                      100.0
..                      ...                        ...
133                    82.0                       86.0
134                    36.0                      138.0
135                    21.0                       61.0
136                    52.0                       27.0
137                    38.0                       28.0

     attack_helicopter_fleet_strength  tank_strength  afv/apc_strength  ...  \
0                                 0.0            0.0            1062.0  ...
1                                 0.0            0.0             467.0  ...
2                                45.0          880.0            7361.0  ...
3                                15.0          379.0             595.0  ...
4                                 0.0          370.0             739.0  ...
..                                ...            ...               ...  ...
133                              10.0          390.0             600.0  ...
134                              25.0         2615.0            2530.0  ...
135                              14.0          620.0             615.0  ...
136                               0.0           75.0             184.0  ...
137                               6.0           42.0             300.0  ...

     towed_artillery_strength  rocket_projector_strength  \
0                       176.0                       50.0
1                         0.0                        0.0
2                       240.0                      316.0
3                       357.0                      115.0
4                       172.0                       26.0
..                        ...                        ...
133                     104.0                       36.0
134                    1000.0                       85.0
135                      85.0                      150.0
136                      42.0                       50.0
137                      65.0                       22.0

     navy_fleet_strengths  aircraft_carrier_fleet_strength  \
0                     0.0                              0.0
1                    38.0                              0.0
2                   201.0                              0.0
3                    57.0                              0.0
4                    49.0                              0.0
..                    ...                              ...
133                  49.0                              0.0
134                  65.0                              0.0
135                  30.0                              0.0
136                   0.0                              0.0
137                   0.0                              0.0

     submarine_fleet_strength  destroyer_fleet_strength  \
0                         0.0                       0.0
1                         0.0                       0.0
2                         6.0                       0.0
3                         0.0                       0.0
4                         2.0                       4.0
..                        ...                       ...
133                       2.0                       0.0
134                       6.0                       0.0
135                       0.0                       0.0
136                       0.0                       0.0
137                       0.0                       0.0

     frigate_fleet_strength  airport_totals  available_manpower  \
0                       0.0            43.0            14325743
1                       0.0             4.0             1519438
2                       5.0           157.0            20741263
3                       0.0           176.0             6244205
4                       0.0          1138.0            20179430
..                      ...             ...                 ...
133                     4.0           444.0            14260129
134                     9.0            45.0            51043216
135                     0.0            57.0            11266221
136                     0.0            88.0             6166905
137                     0.0           196.0             5584086

     total_population
0            34940837
1             3057220
2            41657488
3            30355880
4            44694198
..                ...
133          31689176
134          97040334
135          28667230
136          16445079
137          14030368

[115 rows x 21 columns]

In [23]:
#changing column datatype to int
df['aircraft_strength'] = df['aircraft_strength'].astype(int)

In [24]:
#changing column datatype to int
df['fighter/interceptor_strength'] = df['fighter/interceptor_strength'].astype(int)
df['attack_aircraft_strength'] = df['attack_aircraft_strength'].astype(int)
df['transport_aircraft_fleet_strength'] = df['transport_aircraft_fleet_strength'].astype(int)
df['trainer_aircraft_fleet'] = df['trainer_aircraft_fleet'].astype(int)

In [25]:
#changing column datatype to int
df['helicopter_fleet_strength'] = df['helicopter_fleet_strength'].astype(int)
df['attack_helicopter_fleet_strength'] = df['attack_helicopter_fleet_strength'].astype(int)
df['tank_strength'] = df['tank_strength'].astype(int)
df['afv/apc_strength'] = df['afv/apc_strength'].astype(int)

In [26]:
#changing column datatype to int
df['self-propelled_artillery_strength'] = df['self-propelled_artillery_strength'].astype(int)
df['towed_artillery_strength'] = df['towed_artillery_strength'].astype(int)
df['rocket_projector_strength'] = df['rocket_projector_strength'].astype(int)
df['navy_fleet_strengths'] = df['navy_fleet_strengths'].astype(int)
df['aircraft_carrier_fleet_strength'] = df['aircraft_carrier_fleet_strength'].astype(int)
df['submarine_fleet_strength'] = df['submarine_fleet_strength'].astype(int)
df['destroyer_fleet_strength'] = df['destroyer_fleet_strength'].astype(int)
df['frigate_fleet_strength'] = df['frigate_fleet_strength'].astype(int)

In [27]:
#changing column datatype to int
df['airport_totals'] = df['airport_totals'].astype(int)

In [28]:
#importing country_converter to get iso values
import country_converter as coco

In [29]:
#getting iso values for countries
out_format = "ISO3"
df['iso'] = coco.convert(names=df['country'], to=out_format, not_found=None)

In [30]:
print(df['iso'])

0      AFG
1      ALB
2      DZA
3      AGO
4      ARG
      ...
133    VEN
134    VNM
135    YEM
136    ZMB
137    ZWE
Name: iso, Length: 115, dtype: object

In [31]:
#replacing strenth with none
df.columns = df.columns.str.replace('_strength','')

In [32]:
import pycountry_convert as pc

def country_to_continent(country_name):
    country_alpha2 = pc.country_name_to_country_alpha2(country_name)
    country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
    country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
    return country_continent_name

In [33]:
#get continents for countries
country = list(df['country'])
continent = []
for i in country:
    continent.append(country_to_continent(i))

In [34]:
df['continent'] = continent

In [35]:
#saving the file to csv
df.to_csv('cleaned.csv',index=False)

# Creating nuclear.csv file

In [36]:
#creating nuclear dataset
nuclear = {'United States of America':{'total':5428,'type':'NPT'},'Russia':{'total':5977,'type':'NPT'},'India':{'total':160,'type':'Non-NPT'},
          'United Kingdom':{'total':225,'type':'NPT'},'France':{'total':290,'type':'NPT'},'China':{'total':350,'type':'NPT'},
          'Pakistan':{'total':165,'type':'Non-NPT'},'North korea':{'total':20,'type':'Non-NPT'},'Israel':{'total':90,'type':'undeclared'}}

In [37]:
#creating dataframe
nuclear = pd.DataFrame(nuclear)

In [38]:
#transpose the data
nuclear = nuclear.transpose()
nuclear = nuclear.reset_index()
nuclear.rename(columns={'index':'country'},inplace=True)

In [39]:
print(nuclear)

                    country total        type
0  United States of America  5428         NPT
1                    Russia  5977         NPT
2                     India   160     Non-NPT
3            United Kingdom   225         NPT
4                    France   290         NPT
5                     China   350         NPT
6                  Pakistan   165     Non-NPT
7               North korea    20     Non-NPT
8                    Israel    90  undeclared

In [40]:
#getting iso values for countries
nuclear['iso'] = coco.convert(names=nuclear['country'], to=out_format, not_found=None)
print(nuclear)

                    country total        type  iso
0  United States of America  5428         NPT  USA
1                    Russia  5977         NPT  RUS
2                     India   160     Non-NPT  IND
3            United Kingdom   225         NPT  GBR
4                    France   290         NPT  FRA
5                     China   350         NPT  CHN
6                  Pakistan   165     Non-NPT  PAK
7               North korea    20     Non-NPT  PRK
8                    Israel    90  undeclared  ISR

In [41]:
#saving to a csv file
nuclear.to_csv('nuclear.csv',index=False)

# Cleaning 2006 to 2016 data

In [42]:
cols = ['statenme','year','milex','milper','tpop']

In [43]:
trend = pd.read_csv('NMC-60-wsupplementary.csv',usecols=cols,encoding='latin-1',na_values=[-9])

In [44]:
trend.columns

Index(['statenme', 'year', 'milex', 'milper', 'tpop'], dtype='object')

In [45]:
trend = trend.loc[(trend['year'] >= 2005)]

In [46]:
trend.rename(columns={'statenme':'country','milex':'military_exp','milper':'military_personnel','tpop':'total_population'},inplace=True)

In [47]:
trend.drop(trend.loc[trend['country']=='German Federal Republic'].index, inplace=True)
trend.drop(trend.loc[trend['country']=='German Democratic Republic'].index, inplace=True)
trend.drop(trend.loc[trend['country']=='Yugoslavia'].index, inplace=True)
trend.drop(trend.loc[trend['country']=='St. Vincent and the Grenadines'].index, inplace=True)

In [48]:
trend['iso'] = coco.convert(names=trend['country'], to=out_format, not_found=None)

In [49]:
trend['military_personnel'] = trend['military_personnel'].multiply(1000)
trend['total_population'] = trend['total_population'].multiply(1000)

In [50]:
trend

,country,year,military_exp,military_personnel,total_population,iso
189,United States of America,2005,495326000.0,1474000.0,298166000.0,USA
190,United States of America,2006,521840000.0,1546000.0,300943000.0,USA
191,United States of America,2007,552568000.0,1506000.0,303787000.0,USA
192,United States of America,2008,616073000.0,1498000.0,306657000.0,USA
193,United States of America,2009,662049000.0,1540000.0,309492000.0,USA
...,...,...,...,...,...,...
15946,Samoa,2012,0.0,0.0,189000.0,WSM
15947,Samoa,2013,0.0,0.0,191000.0,WSM
15948,Samoa,2014,NaN,0.0,192000.0,WSM
15949,Samoa,2015,0.0,0.0,194000.0,WSM
15950,Samoa,2016,0.0,0.0,195000.0,WSM

In [51]:
#trend['military_personnel'] = trend['military_personnel'].astype(int)
trend['total_population'] = trend['total_population'].astype(int)

In [52]:
trend.drop(trend.loc[trend['country']=='Antigua & Barbuda'].index, inplace=True)
trend.drop(trend.loc[trend['country']=='Czechoslovakia'].index, inplace=True)
trend.drop(trend.loc[trend['country']=='Kosovo'].index, inplace=True)
trend.drop(trend.loc[trend['country']=='Yemen Arab Republic'].index, inplace=True)
trend.drop(trend.loc[trend['country']=='East Timor'].index, inplace=True)
trend.drop(trend.loc[trend['country']=='Austria-Hungary'].index, inplace=True)
trend.drop(trend.loc[trend['country']=='Zanzibar'].index, inplace=True)

In [53]:
country = list(trend['country'])
continent = []
for i in country:
    continent.append(country_to_continent(i))
    
trend['continent'] = continent

In [54]:
trend.to_csv('trend.csv',index=False)